body {
    background-color:silver;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.tudo {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 20px;
    width: 30%;
    min-width: 360px;
    color: white;
    text-align: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

.campo {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo label {
    font-weight: bold;
    margin-bottom: 5px;
}

.campo input {
    width: 50%;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

#btn {
    width: 80%;
    background: blue;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

#btn:hover {
    background: red;
}

#limpar {
    width: 80%;
    background: grey;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
    margin-top: 10px;
}

#limpar:hover {
    background: darkgrey;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
}
